* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #95a5a6;
    overflow: hidden;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    color: white;
    font-family: cursive;
    user-select: none;

    h1 {
        font-family: cursive;
        margin-bottom: 1rem;
        letter-spacing: 5px;
        color: black;
    }
}

.main {

    &__input {
        width: 350px;
        height: 50px;
        border: 5px solid orange;
        border-radius: 15px;
        outline: none;
    }

    &__add {
        width: 60px;
        height: 45px;
        background-color: #3498db;
        border: none;
        color: white;
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 5px;

        &:active {
            background-color: #0a5b91;
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__clear {
        width: 60px;
        height: 45px;
        background-color: #e74c3c;
        border: none;
        color: white;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 5px;

        &:active {
            background-color: #c0392b;
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.js-container {
    margin-top: 10px;
    color: #192a56;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {

    .main__input {
        display: block;
    }

}